.Rproj.user
.Rhistory
.RData
.Ruserdata

CH4_PoolDilution.html
CH4_PoolDilution.pdf

*.csv
*.html


#field-measurements
field-measurements/*.csv

# OS files
.DS_Store

# Analysis results
outputs/*.png
outputs/*.csv
